In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
import scipy.stats as stats

In [3]:
dataset = pd.read_excel("data/SPSSMCCO.xlsx")
dataset

,Patients,Age,Sexe,Trancheage,Poids,Taille,BMI,Surpoids,Diabete,HTA,...,LastCCOSscore,LastCCOSscorecontinue,IRMpostop,IRMpostopgrandeciterne,IRMpostopamygdales,Ptoseamygdalienneenmm,Réascensionamygdalienne,Syrinxpostop,Ataux,Atauxgrade
0,HMPIT 1,52,0,3,85,1.72,28.731747,1,0,1,...,3,16,1,1.0,1.0,0.0,8.0,2.0,-10.000000,3.0
1,HMPIT 2,58,0,3,55,1.60,21.484375,0,0,0,...,3,14,1,1.0,1.0,0.0,4.0,1.0,0.000000,3.0
2,HMPIT 3,41,0,2,80,1.78,25.249337,0,0,0,...,3,13,1,1.0,1.0,0.0,5.0,1.0,-5.263158,3.0
3,HMPIT 4,13,1,1,47,1.55,19.562955,0,0,0,...,3,14,1,1.0,1.0,0.0,7.0,1.0,0.000000,3.0
4,HMPIT 5,47,0,2,79,1.74,26.093275,1,0,0,...,3,14,1,1.0,1.0,0.0,8.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,CTGB 38,54,1,3,70,1.77,22.343516,0,0,0,...,3,16,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,CTGB 39,48,0,2,87,1.75,28.408163,1,0,0,...,3,15,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,CTGB 40,33,1,2,66,1.74,21.799445,0,0,0,...,3,16,1,2.0,2.0,3.0,7.0,1.0,-7.142857,3.0
61,CTGB 41,39,0,2,85,1.85,24.835646,0,0,0,...,3,16,1,1.0,1.0,0.0,7.0,NaN,NaN,NaN
62,CTGB 42,53,0,3,85,1.83,25.381469,0,0,0,...,3,12,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
dataset.isna().sum()

Patients                    0
Age                         0
Sexe                        0
Trancheage                  0
Poids                       0
                           ..
Ptoseamygdalienneenmm      17
Réascensionamygdalienne    17
Syrinxpostop               30
Ataux                      30
Atauxgrade                 30
Length: 62, dtype: int64

In [32]:
continuous_variables = ['Age', 'BMI', 'Duréesymptomesjours', 'RSM', 'Duréedhospitalisation', 'Duréepostop', 'LastCCOSscorecontinue', 
                        'Descenteamygdalesmm', 'Ptoseamygdalienneenmm', 'Réascensionamygdalienne', 'ScoreASA', 'Ataux']
categorical_variables = ['Sexe', 'Trancheage','Surpoids','Diabete', 'HTA', 'Malformationscongénitales', 'InsuffisanceRespiratoire',
                        'ScoreASA', 'Céphalées', 'SyndromeRachidienCervical', 'Vertiges', 'DouleurNeuropathique', 'Syndromevestibulaire', 
                        'Syndromelésionnel', 'SyndromeCordonal', 'Syndromecérébelleux', 'DéficitMoteur', 'Amyotrophie', 'Syndromesouslésionnel',
                        'SyndromeSyringomyélique', 'AtteintedesNcraniens', 'TypeChiari', 'Etudegrandeciterne', 
                         'Malformationosseuse', 'Scoliose', 'Hydrocéphalie', 'CSI', 'OuvertureC1', 'OuvertureC2', 'Plastiedurale', 'EtatArachnoide',
                        'Redon', 'Coagulationdesamygdales', 'Complicationostop', 'Infectioncicatrice', 'Pseudoméningocèle', 'FuiteLCR', 
                         'hydrocéphaliepostop', 'Meningite', 'IRMpostop', 'IRMpostopgrandeciterne', 'IRMpostopamygdales', 'Syrinxpostop', 'Atauxgrade']

In [33]:
descriptive_data = []
for continuous_var in continuous_variables:
    n = dataset[continuous_var].count()
    mean = round(dataset[continuous_var].mean(), 2)
    median = round(dataset[continuous_var].median(), 2)
    std = round(dataset[continuous_var].std(), 3)
    minimum = round(dataset[continuous_var].min(), 1)
    maximum = round(dataset[continuous_var].max(), 1)
    missing = 63 - n
    
    # Append the results to the list as a dictionary
    descriptive_data.append({
        'variable': continuous_var,
        'n': n,
        'mean': mean,
        'std': mean,
        'median': median,
        'min': minimum,
        'max': maximum,
        'missing': missing
    })

# Convert the list of dictionaries to a DataFrame
stats_df = pd.DataFrame(descriptive_data)

# Display the DataFrame
stats_df

,variable,n,mean,std,median,min,max,missing
0,Age,63,40.54,40.54,41.00,5.0,68.0,0
1,BMI,63,25.35,25.35,24.93,18.4,37.2,0
2,Duréesymptomesjours,63,628.06,628.06,365.00,8.0,5400.0,0
3,RSM,63,49.40,49.40,60.00,10.0,93.3,0
4,Duréedhospitalisation,63,10.05,10.05,7.00,4.0,37.0,0
5,Duréepostop,63,4.62,4.62,3.00,1.0,35.0,0
6,LastCCOSscorecontinue,63,14.16,14.16,15.00,8.0,16.0,0
7,Descenteamygdalesmm,63,10.45,10.45,10.00,3.0,30.0,0
8,Ptoseamygdalienneenmm,46,2.70,2.70,0.00,0.0,15.0,17
9,Réascensionamygdalienne,46,7.53,7.53,7.00,0.0,20.0,17
10,ScoreASA,63,1.38,1.38,1.00,1.0,3.0,0
11,Ataux,33,-83.97,-83.97,-17.65,-500.0,45.5,30

In [37]:
freq_data = []

for categorical_var in categorical_variables[:15]:
    freq_counts = dataset[categorical_var].value_counts().sort_index()
    
    for category, count in freq_counts.items():
        # Append the results to the list as a dictionary
        freq_data.append({
            'var_name': categorical_var,
            'category': category,
            'frequency': count
        })
# Convert the list of dictionaries to a DataFrame
freq_df = pd.DataFrame(freq_data)
freq_df.head(50)

                     var_name  category  frequency
0                        Sexe         0         20
1                        Sexe         1         43
2                  Trancheage         1         14
3                  Trancheage         2         33
4                  Trancheage         3         16
5                    Surpoids         0         37
6                    Surpoids         1         26
7                     Diabete         0         59
8                     Diabete         1          4
9                         HTA         0         52
10                        HTA         1         11
11  Malformationscongénitales         0         58
12  Malformationscongénitales         1          5
13   InsuffisanceRespiratoire         0         63
14                   ScoreASA         1         42
15                   ScoreASA         2         18
16                   ScoreASA         3          3
17                  Céphalées         0         22
18                  Céphalées         1         41
19  SyndromeRachidienCervical         0         28
20  SyndromeRachidienCervical         1         35
21                   Vertiges         0         48
22                   Vertiges         1         15
23       DouleurNeuropathique         0         32
24       DouleurNeuropathique         1         31
25       Syndromevestibulaire         0         47
26       Syndromevestibulaire         1         16
27          Syndromelésionnel         0         22
28          Syndromelésionnel         1         41
29           SyndromeCordonal         0         57
30           SyndromeCordonal         1          6

In [40]:
freq_data = []

for categorical_var in categorical_variables[15:30]:
    freq_counts = dataset[categorical_var].value_counts().sort_index()
    
    for category, count in freq_counts.items():
        # Append the results to the list as a dictionary
        freq_data.append({
            'var_name': categorical_var,
            'category': category,
            'frequency': count
        })
# Convert the list of dictionaries to a DataFrame
freq_df = pd.DataFrame(freq_data)
freq_df.head(50)

                   var_name  category  frequency
0       Syndromecérébelleux       0.0         51
1       Syndromecérébelleux       1.0          9
2       Syndromecérébelleux       2.0          1
3       Syndromecérébelleux       3.0          2
4             DéficitMoteur       0.0         35
5             DéficitMoteur       1.0         28
6               Amyotrophie       0.0         54
7               Amyotrophie       1.0          7
8               Amyotrophie      11.0          1
9               Amyotrophie      13.0          1
10    Syndromesouslésionnel       0.0         21
11    Syndromesouslésionnel       1.0         42
12  SyndromeSyringomyélique       0.0         32
13  SyndromeSyringomyélique       1.0         31
14     AtteintedesNcraniens       0.0         54
15     AtteintedesNcraniens       1.0          9
16               TypeChiari       1.0         55
17               TypeChiari       3.0          2
18               TypeChiari       4.0          6
19       Etudegrandeciterne       0.0         15
20       Etudegrandeciterne       1.0         48
21      Malformationosseuse       0.0         51
22      Malformationosseuse       1.0         12
23                 Scoliose       0.0         55
24                 Scoliose       1.0          7
25            Hydrocéphalie       0.0         53
26            Hydrocéphalie       1.0         10
27                      CSI       1.0         18
28                      CSI       2.0         19
29                      CSI       3.0         26
30              OuvertureC1       0.0          2
31              OuvertureC1       1.0         61
32              OuvertureC2       0.0         60
33              OuvertureC2       1.0          3
34            Plastiedurale       0.0          8
35            Plastiedurale       1.0         55

In [ ]:
freq_data = []

for categorical_var in categorical_variables[130]:
    freq_counts = dataset[categorical_var].value_counts().sort_index()
    
    for category, count in freq_counts.items():
        # Append the results to the list as a dictionary
        freq_data.append({
            'var_name': categorical_var,
            'category': category,
            'frequency': count
        })
# Convert the list of dictionaries to a DataFrame
freq_df = pd.DataFrame(freq_data)
freq_df.head(50)